@charset "utf-8";

.ui-jqgrid .ui-jqgrid-htable th div {
    height:auto;
    overflow:hidden;
    padding-right:2px;
    padding-left:2px;
    padding-top:4px;
    padding-bottom:4px;
    position:relative;
    vertical-align:text-top;
    white-space:normal !important;
}
.ui-jqgrid .ui-jqgrid-htable{
	overflow: hidden; 
	position:relative; 
	height:17px;
	font-family:'NanumGothicB','나눔고딕', "돋움", dotum;
	font-size:13px;
}
.ui-jqgrid-btable, .ui-pg-table  {
	font-family:'NanumGothicB','나눔고딕', "돋움", dotum;
	font-size:13px;
}
