<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="portal.diagreq.dao">

	<!-- 진단 신청 -->
	<insert id="insDiag" parameterType="paramMap">
		/* portal.diagreq.dao.DiagReqMapper.xml insDiag */
		INSERT INTO T_DIAG 
			( 
				DIAG_ID,
				DIAG_NAME,
				SVC_ID,
				DIAG_TYPE_CODE,
				DIAG_TYPE_ID,
				STATUS_CODE,
				REQ_USER_ID,
				REQ_DT,
				REG_ID,
				REG_DT,
				UPD_ID,
				UPD_DT
			) VALUES ( 
				#{diagId},
				#{diagName},
				#{svcId},
				#{diagType_code},
				#{diagType_id},
				#{statusCode},
				#{userId},
				DATE_FORMAT(NOW(), '%Y%m%d%h%m%s'),
				#{userId},
				DATE_FORMAT(NOW(), '%Y%m%d%h%m%s'),
				#{userId},
				DATE_FORMAT(NOW(), '%Y%m%d%h%m%s')
			) 
	</insert>

	<!-- 진단 신청 -->
	<insert id="insDiagHist" parameterType="paramMap">
		/* portal.diagreq.dao.DiagReqMapper.xml insDiagHist */
		INSERT INTO T_DIAG_HIST 
			(
				DIAG_ID,
				REG_DT,
				UPD_DESC,
				REG_ID
			) VALUES ( 
				#{diagId},
				DATE_FORMAT(NOW(), '%Y%m%d%h%m%s'),
				#{updDesc},
				#{userId}
			) 
	</insert>

	<!-- 진단 신청 대상 -->
	<insert id="insDiagObj" parameterType="paramMap">
		/* portal.diagreq.dao.DiagReqMapper.xml insDiagObj */
		INSERT INTO T_DIAG_OBJ 
			(
				DIAG_OBJ_ID,
				DIAG_ID,
				DIAG_TYPE_CODE,
				DIAG_TYPE_ID,
				LEVEL1_CATEGORY,
				LEVEL2_CATEGORY,
				VER_URL,
				FIX_USER_ID,
				REG_ID,
				REG_DT,
				UPD_ID,
				UPD_DT
			) VALUES ( 
				#{diagObjId},
				#{diagId},
				#{diagTypeCode},
				#{diagTypeId},
				#{level1Category},
				#{level2Category},
				#{verUrl},
				#{fixUserId}
				#{userId},
				DATE_FORMAT(NOW(), '%Y%m%d%h%m%s')
			) 
	</insert>

	<!-- 서비스별 신청 현황 -->
	<select id="selSvcDiagReqList" parameterType="paramMap" resultType="commMap">
		/* portal.diagreq.dao.DiagReqMapper.xml selSvcDiagReqList */
		SELECT	<if test="isPaging == true">
				COUNT(*) OVER () RNUM_CNT,
				</if>
				SVC_ID,
				SVC_NAME,
				FN_CODE_NAME('0003',A.USE_YN) USE_YN_NAME,
				(SELECT CONCAT(REQ_DT,',',FN_USER_NAME(req_user_id),',',FN_CODE_NAME('0001',STATUS_CODE)) FROM T_DIAG WHERE SVC_ID = A.SVC_ID  AND DIAG_TYPE_CODE = '01' ORDER BY REQ_DT DESC LIMIT 1) INFRA_REQ_INFO,
				(SELECT CONCAT(REQ_DT,',',FN_USER_NAME(req_user_id),',',FN_CODE_NAME('0001',STATUS_CODE)) FROM T_DIAG WHERE SVC_ID = A.SVC_ID  AND DIAG_TYPE_CODE = '03' ORDER BY REQ_DT DESC LIMIT 1) MOBILE_REQ_INFO,
				(SELECT CONCAT(REQ_DT,',',FN_USER_NAME(req_user_id),',',FN_CODE_NAME('0001',STATUS_CODE)) FROM T_DIAG WHERE SVC_ID = A.SVC_ID  AND DIAG_TYPE_CODE = '04' ORDER BY REQ_DT DESC LIMIT 1) SRC_REQ_INFO,
				(SELECT CONCAT(REQ_DT,',',FN_USER_NAME(req_user_id),',',FN_CODE_NAME('0001',STATUS_CODE)) FROM T_DIAG WHERE SVC_ID = A.SVC_ID  AND DIAG_TYPE_CODE = '05' ORDER BY REQ_DT DESC LIMIT 1) IOT_REQ_INFO
		FROM	T_SVC A
		WHERE	1 = 1
		  AND	A.SVC_ID IN (SELECT SVC_ID FROM T_SVC_USER WHERE USER_ID = #{userId})
		<if test="searchSvcName != null and searchSvcName != ''">		
		  AND	LOWER(TRIM(SVC_NAME)) LIKE CONCAT('%',LOWER(TRIM(#{searchSvcName})),'%')
		</if>	
		ORDER BY A.SVC_ID DESC
		<if test="isPaging == true">
		LIMIT #{startPageNo},#{pageSize}
		</if>
	</select>	

	<!-- 유형별 신청 현황 -->
	<select id="selTypeDiagReqList" parameterType="paramMap" resultType="commMap">
		/* portal.diagreq.dao.DiagReqMapper.xml selTypeDiagReqList */
		SELECT	<if test="isPaging == true">
				COUNT(*) OVER () RNUM_CNT,
				</if>
				B.DIAG_ID,
				B.DIAG_NAME,
				A.SVC_ID,
				A.SVC_NAME,
				FN_CODE_NAME('0002',B.DIAG_TYPE) DIAG_TYPE_NAME,
				FN_USER_NAME(B.REQ_USER_ID) REQ_USER_NAME,
				FN_CODE_NAME('0001',B.STATUS_CODE) STATUS_CODE_NAME,
				CASE WHEN B.STATUS_CODE>='02' THEN STR_TO_DATE(B.REQ_DT,'%Y%m%d') WHEN B.STATUS_CODE = '01' THEN '0' ELSE NULL END AS REQ_DT, -- 신청완료
				CASE WHEN B.STATUS_CODE>='03' THEN STR_TO_DATE(B.ACCEPT_DT,'%Y%m%d') WHEN B.STATUS_CODE = '02' THEN '0' ELSE NULL END AS ACCEPT_DT, -- 접수
				CASE WHEN B.STATUS_CODE>='04' THEN STR_TO_DATE(B.PLAN_DT,'%Y%m%d') WHEN B.STATUS_CODE = '03' THEN '0' ELSE NULL END AS PLAN_DT, -- 계획
				CASE WHEN B.STATUS_CODE>='05' THEN STR_TO_DATE(B.DIAG_DT,'%Y%m%d') WHEN B.STATUS_CODE = '04' THEN '0' ELSE NULL END AS DIAG_DT, -- 진단
				CASE WHEN B.STATUS_CODE>='06' THEN STR_TO_DATE(B.REDIAG_DT,'%Y%m%d') WHEN B.STATUS_CODE = '05' THEN '0' ELSE NULL END AS REDIAG_DT -- 취약점 조치
		FROM	T_SVC A, T_DIAG B 
		WHERE	A.SVC_ID = B.SVC_ID
		  AND	A.SVC_ID IN (SELECT SVC_ID FROM T_SVC_USER WHERE USER_ID = #{userId})
		<if test="searchSvcName != null and searchSvcName != ''">		
		  AND	LOWER(TRIM(A.SVC_NAME)) LIKE CONCAT('%',LOWER(TRIM(#{searchSvcName})),'%')
		</if>	
		<if test="searchDiagName != null and searchDiagName != ''">		
		  AND	LOWER(TRIM(B.DIAG_NAME)) LIKE CONCAT('%',LOWER(TRIM(#{searchDiagName})),'%')
		</if>	
		<if test="searchDiagType != null and searchDiagType != ''">		
		  AND	B.DIAG_TYPE = #{searchDiagType}
		</if>	
		<if test="searchStatusCode != null and searchStatusCode != ''">		
		  AND	B.STATUS_CODE = #{searchStatusCode}
		</if>	
		<if test="searchStatusCode != null and searchStatusCode != ''">		
		  AND	FN_USER_NAME(B.REQ_USER_ID) = #{searchReqUserName}
		</if>	
		<if test="searchStartDate != null and searchStartDate != ''">		
		  AND	B.REQ_DT >= CONCAT(#{searchStartDate},'000000')
		</if>	
		<if test="searchEndDate != null and searchEndDate != ''">
		<![CDATA[		
		  AND	B.REQ_DT <= CONCAT(#{searchEndDate},'000000')
		]]>
		</if>	
		<if test="isPaging == true">
		LIMIT #{startPageNo},#{pageSize}
		</if>
	</select>	
</mapper>