<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="core.security.mapper">
	
	<!-- 사용자 조회 (임시) -->
	<select id="loginUserInfo" parameterType="paramMap" resultType="commMap">
		<![CDATA[
			SELECT
				 USER_INFO.USER_ID
				,USER_INFO.USER_NM
				,USER_INFO.PASSWD
				,USER_INFO.TEL_NO
				,USER_INFO.HP_NO
				,USER_INFO.EMAIL
				,USER_INFO.CS_NO
				,CUST_INFO.CS_NAME
				,CUST_INFO.CHORUS_NO
				,CUST_INFO.UKEY_NO
				,CUST_INFO.CS_AGENT_USERID
				,CUST_INFO.CS_AGENT_USERID2
				,USER_INFO.STATUS
				,USER_INFO.LAST_IP
				,USER_INFO.LAST_DT
				,'' AS MANAGE_CID
				,'' AS FORMATION_CD
				,(SELECT
					USER_INFO.USER_NM
				  FROM USER_INFO
				  WHERE USER_INFO.USER_ID = CUST_INFO.CS_AGENT_USERID
				 ) AS CS_AGENT_USER_NM
				,(SELECT
					USER_INFO.HP_NO
				  FROM USER_INFO
				  WHERE USER_INFO.USER_ID = CUST_INFO.CS_AGENT_USERID
				 ) AS CS_AGENT_HP_NO
				,IF(CUST_INFO.CS_ADMIN_ID = USER_INFO.USER_ID, 'Y', 'N') AS ADMIN_YN
				,USER_INFO.LOGIN_FAIL_CNT
				,'2' AS SYS_TYPE
			FROM USER_INFO, CUST_INFO, USER_CUST
			WHERE USER_INFO.CS_NO         = CUST_INFO.CS_NO
			AND   USER_INFO.USER_ID       = USER_CUST.USER_ID
			AND   (USER_INFO.STATUS       = 'A' OR USER_INFO.STATUS = 'L')
			AND   CUST_INFO.CS_STATE NOT IN ('106002','106003','106004')
			AND   USER_INFO.USER_ID       = #{userId}
			AND   CUST_INFO.CS_IDC_CHECK  = '2'
			UNION ALL
			SELECT
				 USER_INFO.USER_ID
				,USER_INFO.USER_NM
				,USER_INFO.PASSWD
				,USER_INFO.TEL_NO
				,USER_INFO.HP_NO
				,USER_INFO.EMAIL
				,USER_INFO.CS_NO
				,CUST_INFO.CS_NAME
				,CUST_INFO.CHORUS_NO
				,CUST_INFO.UKEY_NO
				,CUST_INFO.CS_AGENT_USERID
				,CUST_INFO.CS_AGENT_USERID2
				,USER_INFO.STATUS
				,USER_INFO.LAST_IP
				,USER_INFO.LAST_DT
				,USER_IDC.MANAGE_CID
				,USER_IDC.FORMATION_CD
				,(SELECT
						FORMATION_INFO.FORMATION_NM
					FROM FORMATION_INFO
					WHERE FORMATION_INFO.FORMATION_CD = USER_IDC.MANAGE_CID
				 ) AS MANAGE_CNM
				,(SELECT
						FORMATION_INFO.FORMATION_NM
					FROM FORMATION_INFO
					WHERE FORMATION_INFO.FORMATION_CD = USER_IDC.FORMATION_CD
				 ) AS FORMATION_NM
				,IF((SELECT
							RID
						FROM SYS_ROLE_USER 
						WHERE SYS_ROLE_USER.USER_ID = USER_INFO.USER_ID
						AND SYS_ROLE_USER.RID = 1) = 1, 'Y', 'N') AS ADMIN_YN
				,USER_INFO.LOGIN_FAIL_CNT
				,'1' AS SYS_TYPE
			FROM USER_INFO, CUST_INFO, USER_IDC
			WHERE USER_INFO.CS_NO         = CUST_INFO.CS_NO
			AND   USER_INFO.USER_ID       = USER_IDC.USER_ID
			AND   CUST_INFO.cs_no ='CS9999999999'
			AND   (USER_INFO.STATUS = 'A' OR USER_INFO.STATUS = 'L'  )
			AND   CUST_INFO.CS_STATE NOT IN ('106002','106003','106004')
			AND   USER_INFO.USER_ID = #{userId}
			AND   CUST_INFO.CS_IDC_CHECK = '1'
		]]>
	</select>
	
	<!-- 고객지원시스템 유저 -->
	<select id="loginMyUserInfo" parameterType="paramMap" resultType="commMap">
		<![CDATA[
			SELECT
				 USER_INFO.USER_ID
				,USER_INFO.USER_NM
				,USER_INFO.PASSWD
				,USER_INFO.TEL_NO
				,USER_INFO.HP_NO
				,USER_INFO.EMAIL
				,USER_INFO.CS_NO
				,CUST_INFO.CS_NAME
				,CUST_INFO.CHORUS_NO
				,CUST_INFO.UKEY_NO
				,CUST_INFO.CS_AGENT_USERID
				,CUST_INFO.CS_AGENT_USERID2
				,USER_INFO.STATUS
				,USER_INFO.LAST_IP
				,USER_INFO.LAST_DT
				,'' AS MANAGE_CID
				,'' AS FORMATION_CD
				,(SELECT
					USER_INFO.USER_NM
				  FROM USER_INFO
				  WHERE USER_INFO.USER_ID = CUST_INFO.CS_AGENT_USERID
				 ) AS CS_AGENT_USER_NM
				,(SELECT
					USER_INFO.HP_NO
				  FROM USER_INFO
				  WHERE USER_INFO.USER_ID = CUST_INFO.CS_AGENT_USERID
				 ) AS CS_AGENT_HP_NO
				,(SELECT
					USER_INFO.TEL_NO
				  FROM USER_INFO
				  WHERE USER_INFO.USER_ID = CUST_INFO.CS_AGENT_USERID
				 ) AS CS_AGENT_TEL_NO
				,(SELECT
					USER_INFO.EMAIL
				  FROM USER_INFO
				  WHERE USER_INFO.USER_ID = CUST_INFO.CS_AGENT_USERID
				 ) AS CS_AGENT_EMAIL
				,IF(CUST_INFO.CS_ADMIN_ID = USER_INFO.USER_ID, 'Y', 'N') AS ADMIN_YN
				,IFNULL(USER_INFO.LOGIN_FAIL_CNT, 0)                     AS LOGIN_FAIL_CNT
				,'2' AS SYS_TYPE
			FROM USER_INFO, CUST_INFO, USER_CUST
			WHERE USER_INFO.CS_NO         = CUST_INFO.CS_NO
			AND   USER_INFO.USER_ID       = USER_CUST.USER_ID
			AND   (USER_INFO.STATUS       = 'A' OR USER_INFO.STATUS = 'L')
			AND   CUST_INFO.CS_STATE NOT IN ('106002','106003','106004')
			AND   USER_INFO.USER_ID       = #{userId}
			AND   CUST_INFO.CS_IDC_CHECK  = '2'
		]]>
	</select>
	
	<!-- 로그인 실패횟수 추가 -->
	<update id="loginMyUserPwdErr" parameterType="paramMap">
		<![CDATA[
			UPDATE USER_INFO /* core.security.dao.mapper.CommLoginMapper.xml loginMyUserInfo */
			SET  LOGIN_FAIL_CNT = IFNULL(LOGIN_FAIL_CNT, 0) + 1
				,STATUS = IF(IFNULL(LOGIN_FAIL_CNT, 0) > 4, 'L', STATUS)
			WHERE (STATUS = 'A' OR STATUS = 'L')
			AND   USER_ID = #{userId}
		]]>
	</update>
	
	<!-- 업무지원시스템 유저 -->
	<select id="loginAdUserInfo" parameterType="paramMap" resultType="commMap">
		<![CDATA[
			SELECT
				 USER_INFO.USER_ID
				,USER_INFO.USER_NM
				,USER_INFO.PASSWD
				,USER_INFO.TEL_NO
				,USER_INFO.HP_NO
				,USER_INFO.EMAIL
				,USER_INFO.CS_NO
				,CUST_INFO.CS_NAME
				,CUST_INFO.CHORUS_NO
				,CUST_INFO.UKEY_NO
				,CUST_INFO.CS_AGENT_USERID
				,CUST_INFO.CS_AGENT_USERID2
				,USER_INFO.STATUS
				,USER_INFO.LAST_IP
				,USER_INFO.LAST_DT
				,USER_IDC.MANAGE_CID
				,(SELECT
						CODE_RESOURCE.CNAME
				  FROM CODE_RESOURCE
				  WHERE CODE_RESOURCE.CODE = USER_IDC.MANAGE_CID
				 ) AS MANAGE_CID_NM 
				,USER_IDC.FORMATION_CD
				,(SELECT
						FORMATION_INFO.FORMATION_NM
					FROM FORMATION_INFO
					WHERE FORMATION_INFO.FORMATION_CD = USER_IDC.MANAGE_CID
				 ) AS MANAGE_CNM
				,(SELECT
						FORMATION_INFO.FORMATION_NM
					FROM FORMATION_INFO
					WHERE FORMATION_INFO.FORMATION_CD = USER_IDC.FORMATION_CD
				 ) AS FORMATION_NM
				,IF((SELECT
							RID
						FROM SYS_ROLE_USER 
						WHERE SYS_ROLE_USER.USER_ID = USER_INFO.USER_ID
						AND SYS_ROLE_USER.RID = 1) = 1, 'Y', 'N') AS ADMIN_YN
				,IFNULL(USER_INFO.LOGIN_FAIL_CNT, 0) AS LOGIN_FAIL_CNT
				,'1' AS SYS_TYPE
			FROM USER_INFO, CUST_INFO, USER_IDC
			WHERE USER_INFO.CS_NO         = CUST_INFO.CS_NO
			AND   USER_INFO.USER_ID       = USER_IDC.USER_ID
			AND   CUST_INFO.CS_NO ='CS9999999999'
			AND   (USER_INFO.STATUS = 'A' OR USER_INFO.STATUS = 'L'  )
			AND   CUST_INFO.CS_STATE NOT IN ('106002','106003','106004')
			AND   USER_INFO.USER_ID = #{userId}
			AND   CUST_INFO.CS_IDC_CHECK = '1'
		]]>
	</select>
	
</mapper>