
@font-face{font-family:element-icons;src:url(../fonts/element.woff) format("woff"),url(../fonts/element.ttf) format("truetype");font-weight:400;font-display:"auto";font-style:normal}[class*=" el-icon-"],[class^=el-icon-]{font-family:element-icons!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;vertical-align:baseline;display:inline-block;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.el-icon-ice-cream-round:before{content:"\e6a0"}.el-icon-ice-cream-square:before{content:"\e6a3"}.el-icon-lollipop:before{content:"\e6a4"}.el-icon-potato-strips:before{content:"\e6a5"}.el-icon-milk-tea:before{content:"\e6a6"}.el-icon-ice-drink:before{content:"\e6a7"}.el-icon-ice-tea:before{content:"\e6a9"}.el-icon-coffee:before{content:"\e6aa"}.el-icon-orange:before{content:"\e6ab"}.el-icon-pear:before{content:"\e6ac"}.el-icon-apple:before{content:"\e6ad"}.el-icon-cherry:before{content:"\e6ae"}.el-icon-watermelon:before{content:"\e6af"}.el-icon-grape:before{content:"\e6b0"}.el-icon-refrigerator:before{content:"\e6b1"}.el-icon-goblet-square-full:before{content:"\e6b2"}.el-icon-goblet-square:before{content:"\e6b3"}.el-icon-goblet-full:before{content:"\e6b4"}.el-icon-goblet:before{content:"\e6b5"}.el-icon-cold-drink:before{content:"\e6b6"}.el-icon-coffee-cup:before{content:"\e6b8"}.el-icon-water-cup:before{content:"\e6b9"}.el-icon-hot-water:before{content:"\e6ba"}.el-icon-ice-cream:before{content:"\e6bb"}.el-icon-dessert:before{content:"\e6bc"}.el-icon-sugar:before{content:"\e6bd"}.el-icon-tableware:before{content:"\e6be"}.el-icon-burger:before{content:"\e6bf"}.el-icon-knife-fork:before{content:"\e6c1"}.el-icon-fork-spoon:before{content:"\e6c2"}.el-icon-chicken:before{content:"\e6c3"}.el-icon-food:before{content:"\e6c4"}.el-icon-dish-1:before{content:"\e6c5"}.el-icon-dish:before{content:"\e6c6"}.el-icon-moon-night:before{content:"\e6ee"}.el-icon-moon:before{content:"\e6f0"}.el-icon-cloudy-and-sunny:before{content:"\e6f1"}.el-icon-partly-cloudy:before{content:"\e6f2"}.el-icon-cloudy:before{content:"\e6f3"}.el-icon-sunny:before{content:"\e6f6"}.el-icon-sunset:before{content:"\e6f7"}.el-icon-sunrise-1:before{content:"\e6f8"}.el-icon-sunrise:before{content:"\e6f9"}.el-icon-heavy-rain:before{content:"\e6fa"}.el-icon-lightning:before{content:"\e6fb"}.el-icon-light-rain:before{content:"\e6fc"}.el-icon-wind-power:before{content:"\e6fd"}.el-icon-baseball:before{content:"\e712"}.el-icon-soccer:before{content:"\e713"}.el-icon-football:before{content:"\e715"}.el-icon-basketball:before{content:"\e716"}.el-icon-ship:before{content:"\e73f"}.el-icon-truck:before{content:"\e740"}.el-icon-bicycle:before{content:"\e741"}.el-icon-mobile-phone:before{content:"\e6d3"}.el-icon-service:before{content:"\e6d4"}.el-icon-key:before{content:"\e6e2"}.el-icon-unlock:before{content:"\e6e4"}.el-icon-lock:before{content:"\e6e5"}.el-icon-watch:before{content:"\e6fe"}.el-icon-watch-1:before{content:"\e6ff"}.el-icon-timer:before{content:"\e702"}.el-icon-alarm-clock:before{content:"\e703"}.el-icon-map-location:before{content:"\e704"}.el-icon-delete-location:before{content:"\e705"}.el-icon-add-location:before{content:"\e706"}.el-icon-location-information:before{content:"\e707"}.el-icon-location-outline:before{content:"\e708"}.el-icon-location:before{content:"\e79e"}.el-icon-place:before{content:"\e709"}.el-icon-discover:before{content:"\e70a"}.el-icon-first-aid-kit:before{content:"\e70b"}.el-icon-trophy-1:before{content:"\e70c"}.el-icon-trophy:before{content:"\e70d"}.el-icon-medal:before{content:"\e70e"}.el-icon-medal-1:before{content:"\e70f"}.el-icon-stopwatch:before{content:"\e710"}.el-icon-mic:before{content:"\e711"}.el-icon-copy-document:before{content:"\e718"}.el-icon-full-screen:before{content:"\e719"}.el-icon-switch-button:before{content:"\e71b"}.el-icon-aim:before{content:"\e71c"}.el-icon-crop:before{content:"\e71d"}.el-icon-odometer:before{content:"\e71e"}.el-icon-time:before{content:"\e71f"}.el-icon-bangzhu:before{content:"\e724"}.el-icon-close-notification:before{content:"\e726"}.el-icon-microphone:before{content:"\e727"}.el-icon-turn-off-microphone:before{content:"\e728"}.el-icon-position:before{content:"\e729"}.el-icon-postcard:before{content:"\e72a"}.el-icon-message:before{content:"\e72b"}.el-icon-chat-line-square:before{content:"\e72d"}.el-icon-chat-dot-square:before{content:"\e72e"}.el-icon-chat-dot-round:before{content:"\e72f"}.el-icon-chat-square:before{content:"\e730"}.el-icon-chat-line-round:before{content:"\e731"}.el-icon-chat-round:before{content:"\e732"}.el-icon-set-up:before{content:"\e733"}.el-icon-turn-off:before{content:"\e734"}.el-icon-open:before{content:"\e735"}.el-icon-connection:before{content:"\e736"}.el-icon-link:before{content:"\e737"}.el-icon-cpu:before{content:"\e738"}.el-icon-thumb:before{content:"\e739"}.el-icon-female:before{content:"\e73a"}.el-icon-male:before{content:"\e73b"}.el-icon-guide:before{content:"\e73c"}.el-icon-news:before{content:"\e73e"}.el-icon-price-tag:before{content:"\e744"}.el-icon-discount:before{content:"\e745"}.el-icon-wallet:before{content:"\e747"}.el-icon-coin:before{content:"\e748"}.el-icon-money:before{content:"\e749"}.el-icon-bank-card:before{content:"\e74a"}.el-icon-box:before{content:"\e74b"}.el-icon-present:before{content:"\e74c"}.el-icon-sell:before{content:"\e6d5"}.el-icon-sold-out:before{content:"\e6d6"}.el-icon-shopping-bag-2:before{content:"\e74d"}.el-icon-shopping-bag-1:before{content:"\e74e"}.el-icon-shopping-cart-2:before{content:"\e74f"}.el-icon-shopping-cart-1:before{content:"\e750"}.el-icon-shopping-cart-full:before{content:"\e751"}.el-icon-smoking:before{content:"\e752"}.el-icon-no-smoking:before{content:"\e753"}.el-icon-house:before{content:"\e754"}.el-icon-table-lamp:before{content:"\e755"}.el-icon-school:before{content:"\e756"}.el-icon-office-building:before{content:"\e757"}.el-icon-toilet-paper:before{content:"\e758"}.el-icon-notebook-2:before{content:"\e759"}.el-icon-notebook-1:before{content:"\e75a"}.el-icon-files:before{content:"\e75b"}.el-icon-collection:before{content:"\e75c"}.el-icon-receiving:before{content:"\e75d"}.el-icon-suitcase-1:before{content:"\e760"}.el-icon-suitcase:before{content:"\e761"}.el-icon-film:before{content:"\e763"}.el-icon-collection-tag:before{content:"\e765"}.el-icon-data-analysis:before{content:"\e766"}.el-icon-pie-chart:before{content:"\e767"}.el-icon-data-board:before{content:"\e768"}.el-icon-data-line:before{content:"\e76d"}.el-icon-reading:before{content:"\e769"}.el-icon-magic-stick:before{content:"\e76a"}.el-icon-coordinate:before{content:"\e76b"}.el-icon-mouse:before{content:"\e76c"}.el-icon-brush:before{content:"\e76e"}.el-icon-headset:before{content:"\e76f"}.el-icon-umbrella:before{content:"\e770"}.el-icon-scissors:before{content:"\e771"}.el-icon-mobile:before{content:"\e773"}.el-icon-attract:before{content:"\e774"}.el-icon-monitor:before{content:"\e775"}.el-icon-search:before{content:"\e778"}.el-icon-takeaway-box:before{content:"\e77a"}.el-icon-paperclip:before{content:"\e77d"}.el-icon-printer:before{content:"\e77e"}.el-icon-document-add:before{content:"\e782"}.el-icon-document:before{content:"\e785"}.el-icon-document-checked:before{content:"\e786"}.el-icon-document-copy:before{content:"\e787"}.el-icon-document-delete:before{content:"\e788"}.el-icon-document-remove:before{content:"\e789"}.el-icon-tickets:before{content:"\e78b"}.el-icon-folder-checked:before{content:"\e77f"}.el-icon-folder-delete:before{content:"\e780"}.el-icon-folder-remove:before{content:"\e781"}.el-icon-folder-add:before{content:"\e783"}.el-icon-folder-opened:before{content:"\e784"}.el-icon-folder:before{content:"\e78a"}.el-icon-edit-outline:before{content:"\e764"}.el-icon-edit:before{content:"\e78c"}.el-icon-date:before{content:"\e78e"}.el-icon-c-scale-to-original:before{content:"\e7c6"}.el-icon-view:before{content:"\e6ce"}.el-icon-loading:before{content:"\e6cf"}.el-icon-rank:before{content:"\e6d1"}.el-icon-sort-down:before{content:"\e7c4"}.el-icon-sort-up:before{content:"\e7c5"}.el-icon-sort:before{content:"\e6d2"}.el-icon-finished:before{content:"\e6cd"}.el-icon-refresh-left:before{content:"\e6c7"}.el-icon-refresh-right:before{content:"\e6c8"}.el-icon-refresh:before{content:"\e6d0"}.el-icon-video-play:before{content:"\e7c0"}.el-icon-video-pause:before{content:"\e7c1"}.el-icon-d-arrow-right:before{content:"\e6dc"}.el-icon-d-arrow-left:before{content:"\e6dd"}.el-icon-arrow-up:before{content:"\e6e1"}.el-icon-arrow-down:before{content:"\e6df"}.el-icon-arrow-right:before{content:"\e6e0"}.el-icon-arrow-left:before{content:"\e6de"}.el-icon-top-right:before{content:"\e6e7"}.el-icon-top-left:before{content:"\e6e8"}.el-icon-top:before{content:"\e6e6"}.el-icon-bottom:before{content:"\e6eb"}.el-icon-right:before{content:"\e6e9"}.el-icon-back:before{content:"\e6ea"}.el-icon-bottom-right:before{content:"\e6ec"}.el-icon-bottom-left:before{content:"\e6ed"}.el-icon-caret-top:before{content:"\e78f"}.el-icon-caret-bottom:before{content:"\e790"}.el-icon-caret-right:before{content:"\e791"}.el-icon-caret-left:before{content:"\e792"}.el-icon-d-caret:before{content:"\e79a"}.el-icon-share:before{content:"\e793"}.el-icon-menu:before{content:"\e798"}.el-icon-s-grid:before{content:"\e7a6"}.el-icon-s-check:before{content:"\e7a7"}.el-icon-s-data:before{content:"\e7a8"}.el-icon-s-opportunity:before{content:"\e7aa"}.el-icon-s-custom:before{content:"\e7ab"}.el-icon-s-claim:before{content:"\e7ad"}.el-icon-s-finance:before{content:"\e7ae"}.el-icon-s-comment:before{content:"\e7af"}.el-icon-s-flag:before{content:"\e7b0"}.el-icon-s-marketing:before{content:"\e7b1"}.el-icon-s-shop:before{content:"\e7b4"}.el-icon-s-open:before{content:"\e7b5"}.el-icon-s-management:before{content:"\e7b6"}.el-icon-s-ticket:before{content:"\e7b7"}.el-icon-s-release:before{content:"\e7b8"}.el-icon-s-home:before{content:"\e7b9"}.el-icon-s-promotion:before{content:"\e7ba"}.el-icon-s-operation:before{content:"\e7bb"}.el-icon-s-unfold:before{content:"\e7bc"}.el-icon-s-fold:before{content:"\e7a9"}.el-icon-s-platform:before{content:"\e7bd"}.el-icon-s-order:before{content:"\e7be"}.el-icon-s-cooperation:before{content:"\e7bf"}.el-icon-bell:before{content:"\e725"}.el-icon-message-solid:before{content:"\e799"}.el-icon-video-camera:before{content:"\e772"}.el-icon-video-camera-solid:before{content:"\e796"}.el-icon-camera:before{content:"\e779"}.el-icon-camera-solid:before{content:"\e79b"}.el-icon-download:before{content:"\e77c"}.el-icon-upload2:before{content:"\e77b"}.el-icon-upload:before{content:"\e7c3"}.el-icon-picture-outline-round:before{content:"\e75f"}.el-icon-picture-outline:before{content:"\e75e"}.el-icon-picture:before{content:"\e79f"}.el-icon-close:before{content:"\e6db"}.el-icon-check:before{content:"\e6da"}.el-icon-plus:before{content:"\e6d9"}.el-icon-minus:before{content:"\e6d8"}.el-icon-help:before{content:"\e73d"}.el-icon-s-help:before{content:"\e7b3"}.el-icon-circle-close:before{content:"\e78d"}.el-icon-circle-check:before{content:"\e720"}.el-icon-circle-plus-outline:before{content:"\e723"}.el-icon-remove-outline:before{content:"\e722"}.el-icon-zoom-out:before{content:"\e776"}.el-icon-zoom-in:before{content:"\e777"}.el-icon-error:before{content:"\e79d"}.el-icon-success:before{content:"\e79c"}.el-icon-circle-plus:before{content:"\e7a0"}.el-icon-remove:before{content:"\e7a2"}.el-icon-info:before{content:"\e7a1"}.el-icon-question:before{content:"\e7a4"}.el-icon-warning-outline:before{content:"\e6c9"}.el-icon-warning:before{content:"\e7a3"}.el-icon-goods:before{content:"\e7c2"}.el-icon-s-goods:before{content:"\e7b2"}.el-icon-star-off:before{content:"\e717"}.el-icon-star-on:before{content:"\e797"}.el-icon-more-outline:before{content:"\e6cc"}.el-icon-more:before{content:"\e794"}.el-icon-phone-outline:before{content:"\e6cb"}.el-icon-phone:before{content:"\e795"}.el-icon-user:before{content:"\e6e3"}.el-icon-user-solid:before{content:"\e7a5"}.el-icon-setting:before{content:"\e6ca"}.el-icon-s-tools:before{content:"\e7ac"}.el-icon-delete:before{content:"\e6d7"}.el-icon-delete-solid:before{content:"\e7c9"}.el-icon-eleme:before{content:"\e7c7"}.el-icon-platform-eleme:before{content:"\e7ca"}.el-icon-loading{-webkit-animation:rotating 2s linear infinite;animation:rotating 2s linear infinite}.el-icon--right{margin-left:5px}.el-icon--left{margin-right:5px}

.layout {
  z-index: 1;
}
.layout .header {
  box-shadow: 1px 1px 4px #9aa0b9;
  display: flex;
  align-items: center;
  padding: 20px;
}
.layout .content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.layout .footer {
  text-align: center;
  margin-top: auto;
  margin-bottom: 20px;
  padding: 20px;
}
.layout.rtl .header {
  box-shadow: -1px 1px 4px #9aa0b9;
}

.sidebar {
  color: #b3b8d4;
  /*overflow-x: hidden !important;*/
  position: relative;
  background-color: #0c1e35;
}
.sidebar .image-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  z-index: 1;
  display: none;
}
.sidebar .image-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.sidebar.has-bg-image .image-wrapper {
  display: block;
}
.sidebar .sidebar-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.sidebar .sidebar-layout .sidebar-header {
  height: 64px;
  min-height: 64px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid rgba(83, 93, 125, 0.3);
}
.sidebar .sidebar-layout .sidebar-header > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sidebar .sidebar-layout .sidebar-content {
  flex-grow: 1;
  padding: 10px 0;
}
.sidebar .sidebar-layout .sidebar-footer {
  height: 64px;
  min-height: 64px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(83, 93, 125, 0.3);
  padding: 0 20px;
}
.sidebar .sidebar-layout .sidebar-footer > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@keyframes swing {
  0%, 30%, 50%, 70%, 100% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
}
.layout .sidebar .menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.layout .sidebar .menu .menu-item a {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  color: #b3b8d4;
}
.layout .sidebar .menu .menu-item a .menu-icon {
  font-size: 1.2rem;
  width: 35px;
  min-width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  border-radius: 2px;
  transition: color 0.3s;
}
.layout .sidebar .menu .menu-item a .menu-icon i {
  display: inline-block;
}
.layout .sidebar .menu .menu-item a .menu-title {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  transition: color 0.3s;
}
.layout .sidebar .menu .menu-item a .menu-prefix,
.layout .sidebar .menu .menu-item a .menu-suffix {
  display: inline-block;
  padding: 5px;
  opacity: 1;
  transition: opacity 0.3s;
}
.layout .sidebar .menu .menu-item a:hover .menu-title {
  color: #dee2ec;
}
.layout .sidebar .menu .menu-item a:hover .menu-icon {
  color: #dee2ec;
}
.layout .sidebar .menu .menu-item a:hover .menu-icon i {
  animation: swing ease-in-out 0.5s 1 alternate;
}
.layout .sidebar .menu .menu-item a:hover::after {
  border-color: #dee2ec !important;
}
.layout .sidebar .menu .menu-item.sub-menu {
  position: relative;
}
.layout .sidebar .menu .menu-item.sub-menu > a::after {
  content: "";
  transition: transform 0.3s;
  border-right: 2px solid currentcolor;
  border-bottom: 2px solid currentcolor;
  width: 5px;
  height: 5px;
  transform: rotate(-45deg);
}
.layout .sidebar .menu .menu-item.sub-menu > .sub-menu-list {
  padding-left: 20px;
  display: none;
  overflow: hidden;
  z-index: 999;
}
.layout .sidebar .menu .menu-item.sub-menu.open > a::after {
  transform: rotate(45deg);
}
.layout .sidebar .menu .menu-item.active > a .menu-title {
  color: #dee2ec;
}
.layout .sidebar .menu .menu-item.active > a::after {
  border-color: #dee2ec;
}
.layout .sidebar .menu .menu-item.active > a .menu-icon {
  color: #dee2ec;
}
.layout .sidebar .menu > ul > .sub-menu > .sub-menu-list {
  background-color: #0b1a2c;
}
.layout .sidebar .menu.icon-shape-circle .menu-item a .menu-icon, .layout .sidebar .menu.icon-shape-rounded .menu-item a .menu-icon, .layout .sidebar .menu.icon-shape-square .menu-item a .menu-icon {
  background-color: #0b1a2c;
}
.layout .sidebar .menu.icon-shape-circle .menu-item a .menu-icon {
  border-radius: 50%;
}
.layout .sidebar .menu.icon-shape-rounded .menu-item a .menu-icon {
  border-radius: 4px;
}
.layout .sidebar .menu.icon-shape-square .menu-item a .menu-icon {
  border-radius: 0;
}
.layout .sidebar:not(.collapsed) .menu > ul > .menu-item.sub-menu > .sub-menu-list {
  visibility: visible !important;
  position: static !important;
  transform: translate(0, 0) !important;
}
.layout .sidebar.collapsed .menu > ul > .menu-item > a .menu-prefix,
.layout .sidebar.collapsed .menu > ul > .menu-item > a .menu-suffix {
  opacity: 0;
}
.layout .sidebar.collapsed .menu > ul > .menu-item.sub-menu > a::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: currentcolor;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 50%;
  border: none;
  transform: translateY(-50%);
}
.layout .sidebar.collapsed .menu > ul > .menu-item.sub-menu > a:hover::after {
  background-color: #dee2ec;
}
.layout .sidebar.collapsed .menu > ul > .menu-item.sub-menu > .sub-menu-list {

  width: 200px;
  margin-left: 3px !important;
  border-radius: 4px;

}
.layout .sidebar.collapsed .menu > ul > .menu-item.active > a::after {
  background-color: #dee2ec;
}
.layout .sidebar.has-bg-image .menu.icon-shape-circle .menu-item a .menu-icon, .layout .sidebar.has-bg-image .menu.icon-shape-rounded .menu-item a .menu-icon, .layout .sidebar.has-bg-image .menu.icon-shape-square .menu-item a .menu-icon {
  background-color: rgba(11, 26, 44, 0.6);
}
.layout .sidebar.has-bg-image:not(.collapsed) .menu > ul > .sub-menu > .sub-menu-list {
  background-color: rgba(11, 26, 44, 0.6);
}
.layout.rtl .sidebar .menu .menu-item a .menu-icon {
  margin-left: 10px;
  margin-right: 0;
}
.layout.rtl .sidebar .menu .menu-item.sub-menu > a::after {
  transform: rotate(135deg);
}
.layout.rtl .sidebar .menu .menu-item.sub-menu > .sub-menu-list {
  padding-left: 0;
  padding-right: 20px;
}
.layout.rtl .sidebar .menu .menu-item.sub-menu.open > a::after {
  transform: rotate(45deg);
}
.layout.rtl .sidebar.collapsed .menu > ul > .menu-item.sub-menu a::after {
  right: auto;
  left: 10px;
}
.layout.rtl .sidebar.collapsed .menu > ul > .menu-item.sub-menu > .sub-menu-list {
  margin-left: -3px !important;
}

* {
  /*box-sizing: border-box;*/
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #212529;
}

a {
  text-decoration: none;
}

@media (max-width: 992px) {
  #btn-collapse {
    display: none;
  }
}


.section::-webkit-scrollbar {
    width: 5px;
}
.section::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 0px;
}
.section::-webkit-scrollbar-thumb {
    background-color: #d4aa70;
    border-radius: 0px;
}
.section {
    scrollbar-color: #D4AA70 #e4e4e4;
}
.section::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #1dac0a 0%, #708AD4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 0px;
}

/**/
body{background:#F6F7F8;}
ul, li{list-style:none;padding:0;margin:0;}
.sidebar{background:#546077;}
.sidebar .image-wrapper{display:none !important;}
.sidebar .sidebar-layout .sidebar-footer{display:flex;justify-content:center;align-items:center;}
.layout .content{padding:0;}
.layout .header{border-bottom:0;box-shadow:none;}
.layout .content{position:relative;padding-bottom:30px;margin-bottom:50px;}
.layout .footer{margin:0;padding:0;width:100%;height:auto;padding:10px 0 20px 0;background:#fff;font-size:14px;color:#707070;border-top:1px solid #d1d1d1;position:absolute;left:0;bottom:0;}

.sidebar .sidebar-layout .sidebar-header{}


.layout .header{padding-left:35px;padding-right:35px;}
.layout .header .page-tit{font-size:18px;color:#354866;display:flex;margin-left:10px;margin-top:-5px;}
.layout .header .side-item-wrap{width:100%;flex:1;display:flex;justify-content:flex-end;align-items:center;}
.layout .header .search-form-wrap{margin-left:40px;width:300px;height:40px;border-radius:10px;background:#fff;border:1px solid #B4B5B5;display:flex;justify-content:flex-start;align-items:center;}
.layout .header .search-form-wrap button{width:40px;height:40px;overflow:hidden;border:0;background:transparent;padding:0;display:flex;justify-content:center;align-items:center;}
.layout .header .search-form-wrap button i{font-size:18px;color:#354866;font-weight:bold;}
.layout .header .search-form-wrap .inp{font-size:14px;color:#354866;width:100%;flex:1;height:40px;overflow:hidden;border:0;outline:none;background:transparent;}
.layout .header .side-item-wrap .btn-login{margin-left:30px;display:flex;justify-content:flex-start;align-items:center;border:0;background:transparent;padding:0;}
.layout .header .side-item-wrap .btn-login i{display:flex;font-size:20px;color:#354866;font-weight:bold;}
.layout .header .side-item-wrap .btn-login span{display:flex;font-size:14px;color:#354866;margin-left:8px;}

.main-latest-wrap{width:calc( 100% - 70px );margin:20px auto 0 auto;height:auto;display:flex;justify-content:space-between;align-items:center;}
.main-latest-wrap .work-item-wrap{width:452px;height:400px;box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;overflow:hidden;background:#Fff;display:flex;justify-content:center;align-items:center;font-size:24px;color:rgba(53,72,102,.5);font-weight:bold;}
.main-latest-wrap .notice-item-wrap{width:100%;flex:1;margin-left:20px;height:400px;box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;overflow:hidden;background:#Fff;}
.main-latest-wrap .notice-item-wrap .latest-header-wrap{width:calc( 100% - 70px );margin:0 auto;height:auto;display:flex;justify-content:space-between;align-items:center;border-bottom:1px solid #D8D8DA;padding:36px 0 13px 0;}
.main-latest-wrap .notice-item-wrap .latest-header-wrap .mtit{font-size:15px;color:#354866;font-weight:bold;}
.main-latest-wrap .notice-item-wrap .latest-header-wrap a{width:18px;height:18px;overflow:hidden;border:1px solid #C4C4C6;display:flex;justify-content:center;align-items:center;}
.main-latest-wrap .notice-item-wrap .latest-header-wrap a i{font-size:12px;color:#354866;}
.main-latest-wrap .notice-item-wrap ul{list-style:none;padding:0;width:calc( 100% - 70px );margin:0 auto;height:auto;overflow:hidden;}
.main-latest-wrap .notice-item-wrap ul li{list-style:none;padding:0;margin:0;width:100%;height:auto;overflow:hidden;margin-top:12px;}
.main-latest-wrap .notice-item-wrap ul li a{width:100%;margin:0 auto;height:auto;display:flex;justify-content:space-between;align-items:center;}
.main-latest-wrap .notice-item-wrap ul li a .ntit{font-size:14px;color:#354866;width:calc( 100% - 80px );height:auto;overflow:hidden;text-overflow:ellipsis; white-space:nowrap;word-wrap:normal;}
.main-latest-wrap .notice-item-wrap ul li a .ndate{font-size:14px;color:#564F68;}
.main-latest-wrap .notice-item-wrap ul li a:hover .ntit{text-decoration:underline;}

.main-latest-wrap .quick-item-wrap{width:100%;flex:1;margin-right:20px;height:230px;box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;overflow:hidden;background:#Fff;}
.main-latest-wrap .quick-item-wrap ul{padding:0;list-style:none;width:calc( 100% - 70px );height:auto;overflow:Hidden;margin:10px auto 0 auto;}
.main-latest-wrap .quick-item-wrap ul li{padding:0;list-style:none;margin:0;width:100%;height:auto;overflow:hidden;border-top:1px solid #d4d4d4;}
.main-latest-wrap .quick-item-wrap ul li:first-child{border-top:0;}
.main-latest-wrap .quick-item-wrap ul li a{width:100%;height:69px;overflow:hidden;display:flex;justify-content:flex-start;align-items:center;}
.main-latest-wrap .quick-item-wrap ul li a .sico{width:45px;height:45px;overflow:hidden;}
.main-latest-wrap .quick-item-wrap ul li a .stit{margin-left:20px;font-size:15px;color:#354866;font-weight:bold;width:100%;flex:1;}
.main-latest-wrap .quick-item-wrap ul li a i{font-size:16px;color:#888788;font-weight:bold;}
.main-latest-wrap .quick-item-wrap ul li:nth-child(1) a .sico{background:url(../img/ico/ico-quick-list01.png) no-repeat;}
.main-latest-wrap .quick-item-wrap ul li:nth-child(2) a .sico{background:url(../img/ico/ico-quick-list02.png) no-repeat;}
.main-latest-wrap .quick-item-wrap ul li:nth-child(3) a .sico{background:url(../img/ico/ico-quick-list03.png) no-repeat;}
.main-latest-wrap .banner-item-wrap{width:450px;height:230px;box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;overflow:hidden;background:#Fff;}

.layout .sidebar .menu .menu-item a .menu-title{font-size:14px;}
.layout .sidebar .menu .menu-item .sub-menu-list a .menu-title{font-size:13px;}
.layout .sidebar.collapsed .menu > ul > .menu-item.sub-menu > a::after{display:none;}


.login-page-wrap{background:#EDEDEF;position:absolute;left:0;top:0;width:100%;height:100%;overflow:Hidden;display:flex;justify-content:flex-start;align-items:center;}
.login-page-wrap *{box-sizing:border-box;}
.login-page-wrap .lt-item{width:50%;height:100%;background:url(../img/bg/bg-login.jpg) no-repeat center center;background-size:cover !important;overflow:Hidden;position:relative;}
.login-page-wrap .rt-item{position:relative;width:50%;height:100%;overflow:Hidden;}
.login-page-wrap .rt-item .scont{width:420px;height:auto;overflow:Hidden;margin:0 auto;}
.login-page-wrap .rt-item .scont .login-form-wrap{position:relative;border: 1px solid rgba(112,112,112,.3);width:100%;padding:15px;height:auto;border-radius:10px;background:#fff;overflow:Hidden;}

.login-page-wrap .rt-item .scont .login-form-wrap .form-item-wrap{margin-top:0px;width:280px;height:auto;overflow:Hidden;}
.login-page-wrap .rt-item .scont .login-form-wrap .form-item-wrap + .form-item-wrap{margin-top:8px;}
.login-page-wrap .rt-item .scont .login-form-wrap .form-item-wrap .inp{width:100%;height:36px;border:1px solid rgba(112,112,112,.3);border-radius:6px;font-size:15px;color:#707070;padding:0 12px;}
.login-page-wrap .rt-item .scont .login-form-wrap label{margin-top:20px;display:flex;justify-content:flex-start;align-items:center;}
.login-page-wrap .rt-item .scont .login-form-wrap label input{display:flex;}
.login-page-wrap .rt-item .scont .login-form-wrap label span{display:flex;margin-left:12px;font-size:14px;color:#707070;}
.login-page-wrap .rt-item .scont .login-form-wrap button{border:0;width:100px;height:80px;padding:0;overflow:Hidden;background:#364967;border-radius: 6px;display:flex;justify-content:center;align-items:center;font-size:18px;color:#fff;font-weight:bold;position:absolute;right:14px;top:14px;}

.login-page-wrap .rt-item .scont .logo{margin-top:40px;width:100%;height:auto;overflow:hidden;text-align:center;}
.login-page-wrap .rt-item .scont .t-net-wrap{margin-top:40px;width:100%;height:110px;overflow:hidden;background:#fff;border:1px solid #707070;border-radius:10px;display:flex;justify-content:center;align-items:center;}
.login-page-wrap .rt-item .scont .t-net-wrap button{cursor:pointer;display:flex;justify-content:center;align-items:center;padding:0;width:392px;height:65px;overflow:hidden;border:0;border-radius:6px;background: transparent linear-gradient(270deg, #5F7FB2 0%, #364967 100%) 0% 0% no-repeat;font-size:24px;color:#fff;font-weight:bold;}
.login-page-wrap .rt-item .scont .t-net-wrap button:hover{background: transparent linear-gradient(270deg, #364967 0%, #5F7FB2 100%) 0% 0% no-repeat;}
.login-page-wrap .rt-item .scont .or{padding:18px 0 25px 0;position:relative;width:100%;height:auto;overflow:hidden;font-size:15px;font-weight:bold;color:#354866;display:flex;justify-content:center;align-items:center;}
.login-page-wrap .rt-item .scont .or:before{content:"";}
.login-page-wrap .rt-item .scont .link-list-wrap{width:100%;height:auto;margin-top:20px;overflow:Hidden;display:flex;justify-content:center;align-items:center;}
.login-page-wrap .rt-item .scont .link-list-wrap li{display:flex;justify-content:center;align-items:center;padding:0 12px;position:relative;}
.login-page-wrap .rt-item .scont .link-list-wrap li:before{content:"";width:1px;height:12px;overflow:hidden;display:block;background:#354866;position:absolute;left:0;top:50%;margin-top:-6px;}
.login-page-wrap .rt-item .scont .link-list-wrap li:first-child:before{display:none;}
.login-page-wrap .rt-item .scont .link-list-wrap li a{font-size:16px;color:#354866;}
.login-page-wrap .rt-item .footer{margin:0;text-align:center;width:100%;height:auto;padding:10px 0 20px 0;background:#fff;font-size:14px;color:#707070;border-top:1px solid #d1d1d1;position:absolute;left:0;bottom:0;}

.login-page-wrap .notice-item-wrap{width:100%;height:auto;overflow:hidden;}
.login-page-wrap .notice-item-wrap .latest-header-wrap{width:100%;margin:80px auto 0 auto;height:auto;display:flex;justify-content:space-between;align-items:center;border-bottom:1px solid #b2b6c0;padding:0 0 10px 0;}
.login-page-wrap .notice-item-wrap .latest-header-wrap .mtit{font-size:15px;color:#354866;font-weight:bold;}
.login-page-wrap .notice-item-wrap .latest-header-wrap a{display:flex;justify-content:flex-start;align-items:center;}
.login-page-wrap .notice-item-wrap .latest-header-wrap a i{font-size:14px;color:#354866;display:flex;font-weight:bold;margin-left:5px;}
.login-page-wrap .notice-item-wrap .latest-header-wrap a span{font-size:14px;color:#354866;font-weight:bold;display:flex;}
.login-page-wrap .notice-item-wrap ul{list-style:none;padding:0;width:100%;margin:10px auto 0 auto;height:auto;overflow:hidden;}
.login-page-wrap .notice-item-wrap ul li{list-style:none;padding:0;margin:0;width:100%;padding-left:10px;position:relative;height:auto;overflow:hidden;margin-top:12px;}
.login-page-wrap .notice-item-wrap ul li:before{content:"";width:3px;height:3px;overflow:hidden;display:block;background:#354866;position:absolute;left:0;top:50%;margin-top:-1px;}
.login-page-wrap .notice-item-wrap ul li a{width:100%;margin:0 auto;height:auto;display:flex;justify-content:space-between;align-items:center;}
.login-page-wrap .notice-item-wrap ul li a .ntit{font-size:14px;color:#354866;width:calc( 100% - 80px );height:auto;overflow:hidden;text-overflow:ellipsis; white-space:nowrap;word-wrap:normal;}
.login-page-wrap .notice-item-wrap ul li a .ndate{font-size:14px;color:#354866;}
.login-page-wrap .notice-item-wrap ul li a:hover .ntit{text-decoration:underline;}
.layout .sidebar .menu .menu-item a{height:36px;}

.layout.fixed-header .header a i{color:#546077;}
.layout .sidebar .menu .menu-item a .menu-icon i.ri-vip-diamond-fill{width:37px;height:37px;box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;background:#737F95 url(../img/ico/ico-gnb-list01.svg) no-repeat center center;display:flex;overflow:hidden;}
.layout .sidebar .menu .menu-item a .menu-icon i.ri-file-list-3-line{width:37px;height:37px;box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;background:#737F95 url(../img/ico/ico-gnb-list02.svg) no-repeat center center;display:flex;overflow:hidden;}
.layout .sidebar .menu .menu-item a .menu-icon i.ri-apps-line{width:37px;height:37px;box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;background:#737F95 url(../img/ico/ico-gnb-list03.svg) no-repeat center center;display:flex;overflow:hidden;}
.layout .sidebar .menu .menu-item a .menu-icon i.ri-global-fill{width:37px;height:37px;box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;background:#737F95 url(../img/ico/ico-gnb-list04.svg) no-repeat center center;display:flex;overflow:hidden;}
.layout .sidebar .menu .menu-item a .menu-icon i.ri-smartphone-line{width:37px;height:37px;box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;background:#737F95 url(../img/ico/ico-gnb-list05.svg) no-repeat center center;display:flex;overflow:hidden;}
.layout .sidebar .menu .menu-item a .menu-icon i.ri-gamepad-line{width:37px;height:37px;box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;background:#737F95 url(../img/ico/ico-gnb-list06.svg) no-repeat center center;display:flex;overflow:hidden;}
.layout .sidebar .menu .menu-item a .menu-icon i:before{display:none !important;}

.layout .sidebar .menu{margin:0 auto;}
.layout .sidebar .menu>ul>li{width:220px;margin:0 auto;padding:5px 0 8px 0;border-top:1px solid #6c768a;}
.layout .sidebar .menu>ul>li:first-child{border-top:0;}
.layout .sidebar .menu>ul>li>a{padding:0 !important;}
.layout .sidebar.has-bg-image:not(.collapsed) .menu > ul > .sub-menu > .sub-menu-list{background:transparent;}
.layout .sidebar .menu .menu-item a{padding:0;}
.layout .sidebar .menu .menu-item>a{background:url(../img/bg/bg-dot01.svg) no-repeat 23px 6px;position:relative;padding-left:40px;}
.layout .sidebar .menu .menu-item>a span{color:rgba(255,255,255,.7) !important;}
.layout .sidebar .menu .menu-item > .sub-menu-list{padding-left:25px;}

.layout .sidebar.collapsed .menu>ul>li{width:35px;}
.layout .sidebar.collapsed .menu>ul>li>a>.menu-title{display:none;}
.layout .sidebar.collapsed .menu .menu-item.sub-menu > .sub-menu-list{padding-left:0;}
.layout .sidebar.collapsed .menu .menu-item>a{padding-right:20px;}
.sidebar.collapsed .sidebar-layout .sidebar-footer{width:10px;height:auto;overflow:hidden;margin-left:14px;}
.sidebar.collapsed .sidebar-layout .sidebar-footer img{margin-right:-96px;}

.sidebar .sidebar-layout .sidebar-header > span a{display:flex;justify-content:flex-start;align-items:center;}
.sidebar .sidebar-layout .sidebar-header > span a img{display:flex;}
.sidebar .sidebar-layout .sidebar-header > span a img + img{margin-left:0px;}
.layout .sidebar .menu .menu-item a .menu-title{color:#fff;}

input[type=checkbox]{outline:none;float:none;display:flex;margin:0 auto !important;background:url(../img/bg/bg-chk-off.png) no-repeat center center;background-size:23px 23px;border:0;border-radius:50%;width:23px;height:23px;overflow:hidden;appearance: none;-moz-appearance: none;-webkit-appearance: none;}
input[type=checkbox]:checked{border:0;width:23px;height:23px;background:url(../img/bg/bg-chk-on.png) no-repeat center center;background-size:23px 23px;}
input[type=checkbox]::-ms-check{border:0;outline:none;appearance: none;-moz-appearance: none;-webkit-appearance: none;width:23px;height:23px;content:"";background:url(../img/bg/bg-chk-off.png) no-repeat center center;background-size:23px 23px;}
input[type=checkbox]:checked::-ms-check{border:0;color:transparent;background:url(../img/bg/bg-chk-on.png) no-repeat center center;background-size:23px 23px;}


.req-page-wrap{width:calc( 100% - 70px );margin:0 auto;height:auto;display:flex;justify-content:flex-start;align-items:flex-start;flex-direction:column;}
.req-page-wrap .rtit{margin-top:30px;font-size:14px;color:#354866;font-weight:bold;padding-left:20px;position:relative;width:100%;height:auto;overflow:Hidden;}
.req-page-wrap .rtit:before{content:"";width:10px;height:10px;overflow:Hidden;display:block;background:#354866;position:absolute;left:0;top:50%;margin-top:-5px;}
.req-page-wrap .rdesc{margin-top:15px;width:calc( 100% - 80px - 1px );height:auto;padding:20px 40px;overflow:Hidden;background:#FFFFFF;
    box-shadow: 0px 3px 6px #00000029;font-size:14px;color:#85868A;line-height:24px;
    border: 0.5px solid #D8D8DA;}
.req-page-wrap .type-select-wrap{margin-top:40px;padding:20px;background:#FFFFFF;border: 0.5px solid #D8D8DA;
    box-shadow: 0px 3px 6px #00000029;width:calc( 100% - 40px - 1px );height:auto;overflow:Hidden;}
.req-page-wrap .type-select-wrap .mtit{width:100%;height:auto;overflow:Hidden;font-size:14px;color:#354866;font-weight:bold;}
.req-page-wrap .type-select-wrap ul{padding:30px;background:#546077;display:flex;justify-content:space-between;align-items:center;width:calc( 100% - 60px - 40px );margin:20px auto;background:#546077;border-radius:10px;height:auto;overflow:Hidden;}
.req-page-wrap .type-select-wrap ul li{margin-left:30px;width:100%;flex:1;height:190px;overflow:Hidden;border-radius:10px;border:4px solid #B6C8E0;background:#fff;}
.req-page-wrap .type-select-wrap ul li:first-child{margin-left:0;}
.req-page-wrap .type-select-wrap ul li a{text-align:center;width:100%;height:190px;overflow:Hidden;display:flex;justify-content:center;align-items:center;font-size:24px;color:#354866;font-weight:bold;}
.req-page-wrap .type-select-wrap ul li:hover{border-color:#d92b0b}

.req-page-wrap .req-guide-wrap{margin-top:15px;padding:20px;background:#FFFFFF;border: 0.5px solid #D8D8DA;
    box-shadow: 0px 3px 6px #00000029;width:calc( 100% - 40px - 1px );height:auto;overflow:Hidden;}
.req-page-wrap .req-guide-wrap .mtit{width:100%;height:auto;overflow:Hidden;font-size:14px;color:#354866;font-weight:bold;}
.req-page-wrap .req-guide-wrap ul{width:calc( 100% - 20px );height:auto;overflow:hidden;margin:14px auto 0px auto;display:flex;justify-content:space-between;align-items:center;}
.req-page-wrap .req-guide-wrap ul li{width:calc( 100% / 3 - 8px );height:auto;overflow:Hidden;}
.req-page-wrap .req-guide-wrap ul li .gheader{font-size:14px;color:#fff;font-weight:bold;width:100%;height:35px;overflow:Hidden;background:#96A6BB;display:flex;justify-content:center;align-items:center;}
.req-page-wrap .req-guide-wrap ul li .gcont{width:100%;height:85px;overflow:Hidden;background:#EDEDEF;}
.req-page-wrap .req-guide-wrap ul li .gcont ul{display:block;width:calc( 100% - 120px );height:auto;overflow:hidden;margin:14px auto 0 auto;}
.req-page-wrap .req-guide-wrap ul li .gcont ul li{width:100%;height:auto;overflow:Hidden;padding-left:10px;position:relative;font-size:13px;color:#85868A;font-weight:bold;line-height:20px;}
.req-page-wrap .req-guide-wrap ul li .gcont ul li:before{content:"";width:3px;height:3px;overflow:Hidden;display:block;background:#85868A;position:absolute;left:0;top:50%;margin-top:-1px;}

.req-page-wrap .req-form-wrap{margin-top:20px;padding:20px;background:#FFFFFF;border: 0.5px solid #D8D8DA;
    box-shadow: 0px 3px 6px #00000029;width:calc( 100% - 40px - 1px );height:auto;overflow:Hidden;}
.req-page-wrap .req-form-wrap .mtit{width:100%;height:auto;overflow:Hidden;font-size:14px;color:#354866;font-weight:bold;}
.req-page-wrap .req-form-wrap ul{width:calc( 100% - 20px );height:auto;overflow:hidden;margin:14px auto 0px auto;display:flex;justify-content:flex-start;align-items:flex-start;}
.req-page-wrap .req-form-wrap ul li{width:500px;height:auto;overflow:Hidden;}
.req-page-wrap .req-form-wrap ul li + li{margin-left:90px;}
.req-page-wrap .req-form-wrap ul li .cols-item-wrap{width:100%;height:auto;overflow:Hidden;display:flex;justify-content:flex-start;align-items:flex-start;}
.req-page-wrap .req-form-wrap ul li .cols-item-wrap .label{width:100px;height:28px;overflow:hidden;display:flex;justify-content:flex-start;align-items:center;font-size:14px;color:#85868A;font-weight:bold;}
.req-page-wrap .req-form-wrap ul li .cols-item-wrap .rows-item-wrap{width:100%;height:auto;overflow:Hidden;flex:1;}
.req-page-wrap .req-form-wrap ul li .cols-item-wrap .rows-item-wrap .form-item-wrap{width:100%;height:auto;overflow:Hidden;display:flex;justify-content:flex-start;align-items:center;}
.req-page-wrap .req-form-wrap ul li .cols-item-wrap .rows-item-wrap .form-item-wrap + .form-item-wrap{margin-top:13px;}
.req-page-wrap .req-form-wrap ul li .cols-item-wrap + .cols-item-wrap{margin-top:13px;}
.req-page-wrap .req-form-wrap ul li .cols-item-wrap .rows-item-wrap .form-item-wrap .inp{outline:none;width:100%;height:28px;border:1px solid #D8D8DA;padding:0 10px;flex:1;font-size:13px;color:#85868A;}
.req-page-wrap .req-form-wrap ul li .cols-item-wrap .rows-item-wrap .form-item-wrap .inp.datepicker{flex:initial;width:98px;margin-right:10px;}
.req-page-wrap .req-form-wrap ul li .cols-item-wrap .rows-item-wrap .form-item-wrap .inp + .search-item-wrap{margin-left:8px;}
.req-page-wrap .req-form-wrap ul li .cols-item-wrap .rows-item-wrap .form-item-wrap .search-item-wrap{position:relative;display:flex;justify-content:flex-start;align-items:center;width:130px;height:28px;border:1px solid #D8D8DA;overflow:hidden;}
.req-page-wrap .req-form-wrap ul li .cols-item-wrap .rows-item-wrap .form-item-wrap .search-item-wrap.t01{width:210px;}
.req-page-wrap .req-form-wrap ul li .cols-item-wrap .rows-item-wrap .form-item-wrap .search-item-wrap .inp{border:0;}
.req-page-wrap .req-form-wrap ul li .cols-item-wrap .rows-item-wrap .form-item-wrap .search-item-wrap button{display:flex;outline:none;justify-content:center;align-items:center;width:28px;height:28px;overflow:hidden;border:0;background:transparent;position:absolute;right:0;top:0;}
.req-page-wrap .req-form-wrap ul li .cols-item-wrap .rows-item-wrap .form-item-wrap .select{width:100%;height:28px;border:1px solid #D8D8DA;padding:0 10px;flex:1;font-size:13px;color:#85868A;}
.req-page-wrap .req-form-wrap ul li .cols-item-wrap .rows-item-wrap .form-item-wrap label{cursor:pointer;display:flex;justify-content:flex-start;align-items:center;}
.req-page-wrap .req-form-wrap ul li .cols-item-wrap .rows-item-wrap .form-item-wrap label input{display:flex;}
.req-page-wrap .req-form-wrap ul li .cols-item-wrap .rows-item-wrap .form-item-wrap label span{display:flex;font-size:13px;color:#85868A;}
button{cursor:pointer;}
.req-tbl-wrap{margin-top:20px;padding:20px;background:#FFFFFF;border: 0.5px solid #D8D8DA;
    box-shadow: 0px 3px 6px #00000029;width:calc( 100% - 40px - 1px );height:auto;overflow:Hidden;}
.req-tbl-wrap .mtit{width:100%;height:auto;overflow:Hidden;font-size:14px;color:#354866;font-weight:bold;}
.req-tbl-wrap .req-btn-wrap{width:100%;height:auto;overflow:Hidden;display:flex;justify-content:flex-end;align-items:center;}
.req-tbl-wrap .req-btn-wrap .btn-add{width:120px;height:26px;overflow:hidden;border:0;border-radius:6px;background:#96a6bb;font-size:14px;font-weight:bold;color:#fff;display:flex;justify-content:center;align-items:center;}
.req-tbl-wrap .req-btn-wrap .btn-list{width:60px;height:26px;overflow:hidden;border:1px solid #5d6c84;border-radius:6px;background:#fff;font-size:14px;font-weight:bold;color:#5d6c84;display:flex;justify-content:center;align-items:center;margin-right:10px;}
.req-tbl-wrap .req-btn-wrap .btn-save{width:120px;height:26px;overflow:hidden;border:0;border-radius:6px;background:#5d6c84;font-size:14px;font-weight:bold;color:#fff;display:flex;justify-content:center;align-items:center;margin-right:10px;}
.req-tbl-wrap .req-btn-wrap .btn-remove{width:120px;height:26px;overflow:hidden;border:0;border-radius:6px;background:#5d6c84;font-size:14px;font-weight:bold;color:#fff;display:flex;justify-content:center;align-items:center;}
.req-tbl-wrap .tbl-item-wrap{width:100%;height:auto;margin:10px 0;overflow:hidden;box-sizing:initial;position:relative;}
.tbl-item-wrap .ui-widget.ui-widget-content{width:calc( 100% + 2px );height:auto !important;background:#fff;}
.tbl-item-wrap .ui-widget.ui-widget-content *{/*box-sizing: initial !important;*/}
.tbl-item-wrap .ui-jqgrid .ui-jqgrid-hbox{}

.ui-jqgrid-view{position:relative;}
.ui-jqgrid-view:before{content:"";width:100%;height:1px;overflow:hidden;display:block;background:#ddd;position:absolute;left:0;top:0;z-index:30;}
.ui-jqgrid-view:after{content:"";width:100%;height:1px;overflow:hidden;display:block;background:#ddd;position:absolute;left:0;bottom:0;}
/*
.req-tbl-wrap .tbl-item-wrap table{width:100%;table-layout:fixed;border:0;border-collapse:collapse;}
.req-tbl-wrap .tbl-item-wrap table th{height:30px !important;text-align:center;font-size:13px;color:#85868A;font-weight:bold;background:#f8f9fa;border-left:1px solid #e4e5e6;border-bottom:1px solid #d8d8da;}
.req-tbl-wrap .tbl-item-wrap table td{height:30px;text-align:center;font-size:13px;color:#85868A;border-left:1px solid #e4e5e6;border-bottom:1px solid #e4e5e6;background:#fff;}
.req-tbl-wrap .tbl-item-wrap table td input{float:none;margin:0 auto;}
.req-tbl-wrap .tbl-item-wrap table tr>th:first-child,
.req-tbl-wrap .tbl-item-wrap table tr>td:first-child{border-left:0;}
*/
.tbl-item-wrap .btn-del{cursor:pointer;display:flex;justify-content:center;align-items:center;margin:0 auto;width:60px;height:22px;overflow:hidden;border:1px solid #D8D8DA;background:#fff;padding:0;font-size:13px;color:#85868A;}
.req-tbl-wrap{}
.req-tbl-wrap .nlist01{width:100%;height:auto;overflow:hidden;margin-top:30px;}
.req-tbl-wrap .nlist01 li{font-weight:bold;width:100%;height:auto;overflow:hidden;font-size:14px;color:#85868A;line-height:24px;padding-left:10px;position:relative;}
.req-tbl-wrap .nlist01 li:before{content:"";width:3px;height:3px;overflow:hidden;display:block;background:#85868A;border-radius:50%;position:absolute;left:0;top:8px;}

.req-tbl-wrap .server-form-wrap{width:100%;height:auto;overflow:hidden;margin-top:32px;}
.req-tbl-wrap .server-form-wrap .form-item-wrap{width:100%;height:auto;overflow:hidden;display:flex;justify-content:flex-start;align-items:center;}
.req-tbl-wrap .server-form-wrap .form-item-wrap + .form-item-wrap{margin-top:10px;}
.req-tbl-wrap .server-form-wrap .form-item-wrap .label{width:110px;font-size:14px;color:#85868A;font-weight:bold;}
.req-tbl-wrap .server-form-wrap .form-item-wrap .slabel{width:73px;font-size:13px;color:#85868A;}
.req-tbl-wrap .server-form-wrap .form-item-wrap .inp{width:242px;height:26px;overflow:hidden;border:1px solid #D8D8DA;padding-left:10px;font-size:13px;color:#85868A;}
.req-tbl-wrap .server-form-wrap .form-item-wrap .select{width:242px;height:26px;overflow:hidden;border:1px solid #D8D8DA;padding-left:10px;font-size:13px;color:#85868A;}
.req-tbl-wrap .server-form-wrap .form-item-wrap .select.w01{width:315px;}
.req-tbl-wrap .server-form-wrap .form-item-wrap .select.w02{width:110px;}
.req-tbl-wrap .server-form-wrap .form-item-wrap .inp + .slabel{margin-left:15px;}
.req-tbl-wrap .server-form-wrap .form-item-wrap .select + .slabel{margin-left:15px;}
.req-tbl-wrap .server-form-wrap .form-item-wrap .select + .select{margin-left:5px;}
.req-tbl-wrap .server-form-wrap .form-item-wrap .btn-func{display:flex;justify-content:center;align-items:center;width:48px;height:26px;margin:0 5px;overflow:hidden;border:0;background:#96a6bb;border-radius:5px;padding:0;font-size:14px;color:#fff;font-weight:bold;}

.req-tbl-wrap .pf-btn-wrap{width:100%;height:auto;overflow:hidden;padding-bottom:38px;margin-top:15px;display:flex;justify-content:flex-start;align-items:center;}
.req-tbl-wrap .pf-btn-wrap button{width:60px;height:26px;overflow:Hidden;border-radius:5px;border:0;background:#5d6c84;padding:0;margin-right:10px;display:flex;justify-content:center;align-items:center;font-size:14px;color:#fff;font-weight:bold;}

.board-search-wrap{margin-top:20px;padding:20px;background:#FFFFFF;border: 0.5px solid #D8D8DA;
    box-shadow: 0px 3px 6px #00000029;width:calc( 100% - 40px - 1px );height:auto;overflow:Hidden;}
.board-search-wrap .form-item-wrap{width:100%;height:auto;overflow:hidden;display:flex;justify-content:flex-start;align-items:center;}
.board-search-wrap .form-item-wrap + .form-item-wrap{margin-top:10px;}
.board-search-wrap .form-item-wrap .label{width:100px;font-size:14px;color:#85868A;font-weight:bold;}
.board-search-wrap .form-item-wrap .inp{width:410px;height:26px;overflow:hidden;border:1px solid #D8D8DA;padding-left:10px;font-size:13px;color:#85868A;}
.board-search-wrap .form-item-wrap .inp.w01{width:160px;}
.board-search-wrap .form-item-wrap .inp.datepicker{width:90px;}
.board-search-wrap .form-item-wrap label{display:flex;margin-left:8px;}
.board-search-wrap .form-item-wrap .e01{font-size:13px;color:#85868A;width:26px;display:flex;justify-content:center;align-items:center;}
.board-search-wrap .form-item-wrap .select{width:160px;height:26px;overflow:hidden;border:1px solid #D8D8DA;padding-left:10px;font-size:13px;color:#85868A;}
.board-search-wrap .form-item-wrap .btn-func{display:flex;justify-content:center;align-items:center;width:110px;height:26px;margin:0 0 0 30px;overflow:hidden;border:0;background:#96a6bb;border-radius:5px;padding:0;font-size:14px;color:#fff;font-weight:bold;}
.board-search-wrap .form-item-wrap .inp + .label{margin-left:60px;}
.board-search-wrap .form-item-wrap .select + .label{margin-left:60px;}

.board-btn-wrap{margin-top:20px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:flex-end;align-items:center;}
.board-btn-wrap button{display:flex;justify-content:center;align-items:center;width:110px;height:26px;margin:0 0 0 30px;overflow:hidden;border:0;background:#5c6b83;border-radius:5px;padding:0;font-size:14px;color:#fff;font-weight:bold;}
.nodata{width:100%;height:150px;overflow:hidden;font-size:13px;color:#85868A;text-align:center;display:flex;justify-content:center;align-items:center;}


.layout .sidebar.collapsed .menu > ul > .menu-item.sub-menu > .sub-menu-list{}
.layout .sidebar.collapsed .menu > ul > .menu-item.sub-menu > .sub-menu-list{position:absolute;left:40px;top:5px;}
.layout .sidebar .menu .menu-item>a.on + .sub-menu-list{}
.layout .sidebar .menu .menu-item>a.on::after{transform: rotate(45deg);}


header .select-item-wrap01{position:relative;margin-left:38px;}
header .select-item-wrap01.on{z-index:5;}
header .select-item-wrap01>a{display:block;line-height:26px;margin-top:0px;width:calc( 140px - 14px - 30px );border-radius:6px;padding-right:30px;height:26px;border:1px solid #ececed;padding-left:14px;font-size:12px;color:#627088;background:#fff url(../img/ico/ico-select01.svg) no-repeat 96% center;overflow:hidden;text-overflow:ellipsis; white-space:nowrap;word-wrap:normal;}
header .select-item-wrap01>.select-result-wrap{display:none;width:100%;padding:0;border:0;background:#96a6bb;position:absolute;left:0;top:26px;overflow:hidden;overflow-y:auto;border-radius:6px;}
header .select-item-wrap01.on>a{background:#fff url(../img/ico/ico-select01.svg) no-repeat 96% center;}
header .select-item-wrap01.on .select-result-wrap{display:block;}

header .select-item-wrap01>.select-result-wrap ul{display:block;width:100%;height:auto;overflow:Hidden;}
header .select-item-wrap01>.select-result-wrap ul li{margin:0;width:100%;height:auto;overflow:Hidden;}
header .select-item-wrap01>.select-result-wrap ul li a{width:calc( 100% - 14px );padding:0 13px;height:26px;overflow:Hidden;display:flex;justify-content:flex-start;align-items:center;}
header .select-item-wrap01>.select-result-wrap ul li a:hover{background:#757f93 ;}
header .select-item-wrap01>.select-result-wrap ul li a span{font-size:12px;color:#fff;display:flex;}

header .user-item-wrap{margin-left:14px;display:flex;justify-content:flex-start;align-items:center;}
header .user-item-wrap strong{display:flex;font-size:13px;color:#354866;font-weight:bold;}
header .user-item-wrap span{display:flex;font-size:13px;color:#354866;margin-left:5px;}
