<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="portal.infra.dao">

	<!--  -->
	<select id="infraDiagList" parameterType="paramMap" resultType="commMap">
		/* portal.infra.dao.InfraDiagMapper.xml infraDiagList */
		SELECT 
			COUNT(*) OVER () RNUM_CNT
			,DIAG_ID
			,DIAG_NAME
			,PROD_ID
			,DIAG_TYPE_CODE
			,DIAG_TYPE_ID
			,STATUS_CODE
			,REQ_USER_ID
			,REQ_DT
			,ACCEPT_USER_ID
			,CASE WHEN ISNULL(ACCEPT_DT) AND !ISNULL(REQ_DT) THEN '0' ELSE STR_TO_DATE(ACCEPT_DT,'%Y%m%d') END ACCEPT_DT
			,PLAN_USER_ID
			,CASE WHEN ISNULL(PLAN_DT) AND !ISNULL(ACCEPT_DT) THEN '0' ELSE STR_TO_DATE(PLAN_DT,'%Y%m%d') END PLAN_DT
			,DIAG_USER_ID
			,DIAG_DT
			,REDIAG_USER_ID
			,REDIAG_DT
			,REG_ID
			,REG_DT
			,UPD_ID
			,UPD_DT
		FROM T_DIAG                                                                
		WHERE DIAG_TYPE_CODE = '01'
		<if test="searchDiagName != null and searchDiagName != ''">		
		  AND UPPER(TRIM(DIAG_NAME)) LIKE CONCAT('%',UPPER(TRIM(#{searchDiagName})),'%')
		</if>	
		ORDER BY DIAG_ID DESC
		LIMIT #{startPageNo},#{pageSize}
	</select>	
	
	<!--  -->
	<select id="infraDiagDetail" parameterType="paramMap" resultType="commMap">
		/* portal.infra.dao.DiagMapper.xml infraDiagDetail */
		SELECT 
			DIAG_ID
			,DIAG_NAME
			,PROD_ID
			,DIAG_TYPE_CODE
			,DIAG_TYPE_ID
			,STATUS_CODE
			,REQ_USER_ID
			,REQ_DT
			,ACCEPT_USER_ID
			,ACCEPT_DT
			,PLAN_USER_ID
			,PLAN_DT
			,DIAG_USER_ID
			,DIAG_DT
			,REDIAG_USER_ID
			,REDIAG_DT
			,REG_ID
			,REG_DT
			,UPD_ID
			,UPD_DT
		FROM T_DIAG
		WHERE DIAG_ID = #{diagId}                                                                 
	</select>

	<!--  -->
	<select id="infraDiagHostList" parameterType="paramMap" resultType="commMap">
		/* portal.infra.dao.DiagMapper.xml infraDiagHostList */
		SELECT 
			B.HOST_ID
			,B.HOST_NAME
			,B.IP_ADDR
			,B.EQUIP_TYPE
			,'Y' IS_OS
			,'Y' IS_DBMS
			,'N' IS_WEB_SERVER
			,'N' IS_WAS
			,'N' IS_WEB_SERVICE
		FROM T_DIAG_HOST A, T_HOST B
		WHERE DIAG_ID = #{diagId}
		  AND A.HOST_ID = B.HOST_ID                                                                  
	</select>

	<!--  -->
	<select id="infraDiagObjList" parameterType="paramMap" resultType="commMap">
		/* portal.infra.dao.DiagMapper.xml infraDiagObjList */
		SELECT 
			DIAG_OBJ_ID
			,LEVEL1_CATEGORY 
			,LEVEL2_CATEGORY
			,B.HOST_NAME
			,B.IP_ADDR
			,VER_URL
			,FIX_USER_ID
		FROM T_DIAG_OBJ A, T_HOST B
		WHERE DIAG_ID = #{diagId}
		  AND A.DIAG_TYPE_ID = B.HOST_ID
	</select>
	
	<delete id="deleteHost" parameterType="paramMap">
		/* portal.infra.dao.DiagMapper.xml deleteHost */
		DELETE FROM T_HOST
		WHERE HOST_ID IN 
			<foreach collection="hostList" item="item" index="index" separator="," open="(" close=")">
				#{item}
			</foreach>
	</delete>
	
	
</mapper>